<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		<!-- Sidebar content -->
			Search: <input ng-model="query">
			Sort By:
			<select ng-model="orederProp">
				<option value="name">Alpabatical</option>
				<option value="age">Newest</option>
			</select>
		</div>
		<div class="col-md-10">
  			<!--Body Content -->
  			<ul class="phones">
  				<li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
				    <a href="#phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"/></a>
				    <a href="#phones/{{phone.id}}"> {{phone.name}} </a>
				    <p>{{phone.snippet}}</p>
				</li>
  			</ul>

		</div>

	</div>
</div>