<img ng-src="{{mainImageUrl}}" class="phone"></img>

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
	<li ng-repeat="img in phone.images">
		<img ng-src="{{img}}" ng-click="setImage(img)"></img>
	</li>
</ul>
<ul class="specs">
	<li>
		<span>Availability and Networks</span>
		<dl>
			<dt>Availability</dt>
			<dd ng-repeat="availabitly in phone.availability">{{availabilty}}</dd>
		</dl>	
	</li>

	<li>
		<span>Additional Features</span>
		<dd>{{phone.additionalFeatures}}</dd>
	</li>
</ul>
