<!doctype html>
<html lang="en" ng-app = "phonecatApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/controllers.js"></script>  
  <script src="js/app.js"></script>
  <script src="js/filters.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/services.js"></script>
</head>
<body >
<!--
<ul>
    <li>
        <span> Nexus S</span>
        <p>
            Fast just got faster with Nexus S.
        </p>
    </li>
    <li>
        <span> Motorola XOOM with Wi-Fi</span>
        <p>
            The Next, Next Generation tablet.
        </p>
    </li>
</ul>
<p>Toatl number of phones: 2</p>

<ul>
    <li ng-repeat="phone in phones">
        {{phone.name}}
        <p>{{phone.snippet}}</p>
    </li>
</ul>
<p>Total number of phones: {{phones.length}}</p>
<p>Hello, {{name}}!</p>

<table>
  <tr><th>row number</th></tr>
  <tr ng-repeat="i in [0,1,2,3,4,5]"><td>{{i+1}}</td></tr>
</table>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      
      Search: <input ng-model="query">
      {{query}}
    </div>
    <div class="col-md-10">
      
      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query">
          {{phone.name}}
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

Search: <input ng-model="query">
Sort By:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>

<ul class="phones">
  <li ng-repeat="phone in phones | filter:query |orderBy:orderProp">
    <span>{{phone.name}}</span>
    <p>{{phone.snippet}}</p>
  </li>
</ul>
<pre>{{phones|json}}</pre>


<ul class="phones">
  <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
    <a href="#phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"/></a>
    <a href="#phones/{{phone.id}}"> {{phone.name}} </a>
    <p>{{phone.snippet}}</p>
  </li>
</ul>
-->
<div ng-view></div>

</body>
</html>
